body{
    background-color: hsl(212, 45%, 89%);
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 44%, 0.662);
    margin: 1rem;
}

.qr-directions{
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    margin: 10rem auto;
    padding: 10px 10px 20px 10px;
    width: 20rem;

}
.qr-image{
    width: 100%;
    border-radius: .75rem;
}

.qr-directions h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%); 
    margin: 1.25rem;

}
.attribution {
    font-size: .6875rem;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}